<app-navbar></app-navbar>

<div class="breadcrumbs">
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to Blossom Bazar, where every petal tells a story. We're passionate about crafting exquisite floral
            arrangements that ignite joy and elevate every occasion. Join us in celebrating life's moments with nature's
            finest treasures</p>
    </div>
</div>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up" data-aos-duration="1500">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-duration="1500">
                <img src="../../../../../../../../assets/Images/discussion.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Welcome to Blossom Bazar – Your Premier Destination for Exquisite Flowers</h3>
                <p class="fst-italic">
                    At Blossom Bazar, we believe in the timeless beauty and universal joy that flowers bring. As a
                    dedicated purveyor of the freshest and most stunning blooms, our mission is to make every occasion
                    memorable and every day a bit brighter with our exquisite floral arrangements
                </p>
                <h2>Our Story</h2>
                <p>Blossom Bazar was founded with a simple yet profound vision: to spread happiness and love through the
                    art of floristry. What started as a small, passionate project has blossomed into a beloved floral
                    boutique, serving a growing community of flower enthusiasts and special occasion celebrants. Our
                    commitment to quality and customer satisfaction has been the cornerstone of our journey, guiding us
                    to where we are today.</p>
                <h2>Our Flowers</h2>
                <p>We take great pride in our curated selection of flowers, sourced from the finest growers around the
                    world. Each stem is carefully chosen for its freshness, beauty, and longevity, ensuring that every
                    bouquet we create is a true masterpiece. Whether you're looking for classic roses, exotic orchids,
                    cheerful sunflowers, or seasonal blossoms, Blossom Bazar offers a diverse array of options to suit
                    every taste and occasion.</p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Counts Section ======= -->
<!-- <section id="counts" class="counts section-bg">
    <div class="container">
        <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
                <span>62</span>
                <p>Customers</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span>5</span>
                <p>Products</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span>6</span>
                <p>Categories</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span>56</span>
                <p>Seller</p>
            </div>

        </div>

    </div>
</section> -->
<!-- End Counts Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-duration="1500">
            <h2>Testimonials</h2>
            <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-duration="1500">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="../../../../assets/img/messages-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>An Unforgettable Experience!</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I ordered a bouquet for my anniversary from Blossom Bazar, and it exceeded all my
                                expectations. The flowers were incredibly fresh and beautifully arranged. It made our
                                special day even more memorable. Highly recommend!"
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="../../../../assets/img/messages-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Exceptional Quality and Service</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I have never been disappointed with my purchases from Blossom Bazar. The quality of the
                                flowers is consistently excellent, and their customer service is top-notch. They always
                                go the extra mile to ensure satisfaction."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="../../../../assets/img/messages-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>The Perfect Gift</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I needed a last-minute gift for my friend's birthday, and Blossom Bazar came to the
                                rescue. The bouquet was stunning, and it arrived right on time. My friend loved it!
                                Thank you for making gifting so easy and delightful."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="../../../../assets/img/profile-img.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Beautiful Arrangements for Every Occasion</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I’ve used Blossom Bazar for several events, from weddings to birthdays, and their
                                arrangements always impress. The creativity and attention to detail are unmatched. I
                                wouldn’t go anywhere else for my floral needs."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="../../../../assets/img/messages-1.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>A Touch of Elegance</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "The flowers from Blossom Bazar added a touch of elegance to our office space. The
                                vibrant colors and freshness of the blooms made a noticeable difference. We received
                                numerous compliments from our clients."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<app-footer></app-footer>