<app-navbar></app-navbar>
<div class="wrapper mt-4">
    <div class="container  ">
        <div class="row report-container">
            <div class="col-5">
                <div class="about">
                    <div class="row">
                        <h1>Our Services</h1>
                    </div>
                    <div class="row">
                        <p>Blossom Bazar simplifies managing your flower shop with an all-in-one system designed for efficiency and growth.<p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <!-- <img src="flower.jpg" alt="" width="110%"> -->
                </div>
            </div>
        </div>
        <div class="row services mt-4">
            <div class="col">
                <div class="images row">
                    <div class="col">
                        <img src="../../../../assets/Images/cart.jpg" alt="" width="30%">
                    </div>
                </div>
                <div class=" row name">
                    <div class="col">
                        <p>Buy Products</p>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="images row">
                    <div class="col">
                        <img src="../../../../assets/Images/shoping.jpg" alt="" width="30%">
                    </div>
                </div>
                <div class=" row name">
                    <div class="col">
                        <p>Sell Products</p>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="images row">
                    <div class="col">
                        <img src="../../../../assets/Images/delivery .jpg" alt="" width="30%">
                    </div>
                </div>
                <div class=" row name">
                    <div class="col">
                        <p>Deliver Products</p>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="images row">
                    <div class="col">
                        <img src="../../../../assets/Images/details.jpg" alt="" width="30%">
                    </div>
                </div>
                <div class=" row name">
                    <div class="col">
                        <p>Details</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
